body {
    font-family: 'Ubuntu Mono', monospace;
}

/*Start Styles for Cours Cards*/
.hoverCourse:hover{
    transform: translateY(-5px);
    cursor: pointer;
}

.linkCourse:link, .linkCourse:visited, .linkCourse:active {
    text-decoration:none;
    color: #000000;
}
/*End Styles for Cours Cards*/

/*Bordes de Tabla Verbs*/
.borderTable{
    border: 1px solid #DEE2E6;
    border-radius: 8px;
    background: #DEE2E6;
}

/*Iconos Google*/
 .material-symbols-outlined {
     font-variation-settings:
             'FILL' 0,
             'wght' 400,
             'GRAD' 0,
             'opsz' 48
 }
