body {
    font-family: 'Ubuntu Mono', monospace;
}

/* Star Estilos Reutilizables */
.hoverTransition:hover{
    transform: scale(1.03);
}
/* End Estilos Reutilizables */

/*Start Styles for Cards*/
.linkCourse:link, .linkCourse:visited, .linkCourse:active {
    text-decoration:none;
}
/*End Styles for Cards*/

/*Bordes de Tabla Verbs*/
.borderTable{
    border: 1px solid #DEE2E6;
    border-radius: 8px;
    background: #DEE2E6;
}

/*Iconos Google*/
.material-symbols-outlined {
    font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 48
}

/* Star Verbs.html */
/* End Verbs.html */


